.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-content {
  flex: 1;
}

.is-fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.is-cursor-pointer {
  cursor: pointer !important;
}

.transform {
  -webkit-transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0)
    scaleX(1) scaleY(1);
  transform: translateX(0) translateY(0) rotate(0) skewX(0) skewY(0) scaleX(1)
    scaleY(1);
}

.is-duration-300 {
  transition-duration: 0.3s;
}

.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
}

.hover-translate-y:hover {
  -webkit-transform: translateX(0) translateY(-0.25rem) rotate(0) skewX(0)
    skewY(0) scaleX(1) scaleY(1) !important;
  transform: translateX(0) translateY(-0.25rem) rotate(0) skewX(0) skewY(0)
    scaleX(1.1) scaleY(1.1) !important;
}

.hover-shadow-xl:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
}

.fixedwidth {
  width: 300px;
}

.is-fullheight-100vh {
  height: 100vh;
}

.mainbg {
  background-color: #151824;
  border: 4px solid #d4ad58;
}

.cardflags {
  background-color: #151824;
}

.has-text-gold {
  color: #d4ad58;
}

html,
body,
#root {
  height: 100%;
}

.columns.is-fullheight {
  flex: 1;
}

.main {
  overflow-y: auto;
}

.is-fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.leftside-font-size {
  font-size: 20px;
}

.bpcss {
  font-size: 16px;
  font-weight: normal;
}

.leftsidecss {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #151824;
  border: 4px solid #d4ad58;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
